body{
    background: -webkit-linear-gradient(left,#D3D3D3, #CECECE, #D3D3D3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#D3D3D3, #CECECE, #D3D3D3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#D3D3D3, #CECECE, #D3D3D3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#D3D3D3, #CECECE, #D3D3D3); /* Standard syntax */
    overflow-x: hidden ;
}
.WelcomeHead{
    box-sizing:border-box;
    position: relative;
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
}
.WelcomeTag{
    font-family: 'Poiret One';
    font-size: 100px;
    font-weight: bold;
    color:#ffffff;
    margin: 0 auto;
    text-align: center;
    width: 30%;


}
.WelcomeImagediv{

}
.WelcomeImage{
    border-radius:100%;
    width:8%;
    display:block;
    margin-left: auto;
    margin-right: auto
}
.ArrowDown{
    width:8%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7% ;
}
.infoDiv{
    text-align: center;
    margin-top:1%;
}
.scrolling{
    overflow:hidden;

}
.centertext{
    text-align:center
}
.WelcomeText{
    font-size:17px;
    color:white;
}
.WelcomeText:hover{
    opacity:1;
}
.LowOpacity{
    opacity: 0.4;
}
.MedOpacity{
    opacity:0.8;

}

.glyphicon:hover{
    color:white;
}